{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Listes des personnages</h1>
    <div class="d-flex row align-items-center justify-content-center p-5">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary" type="submit">Edit</button>
            <a class="btn btn-danger" href="{{ path('people_delete', {id: character.id}) }}">Delete</a>
        {{ form_end(form) }}
    </div>
{% endblock %}

